@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



@font-face {
    font-family: iDroid;
    src: url(../pacote-projeto-d010/fontes/idroid.otf);
    font-weight: normal;
}

:root {
    --cor01:#c5ebd6;
    --cor02:#83e1ad;
    --cor03:#2fa866;
    --cor04:#3ddc84;
    --cor05:#1a5c37;
    --cor06:#063d1e;

    --fontpadrao: Arial, Verdana, helvetica, sans-serif;
    --fontedestaque: 'Bebas Neue', cursive; 
    --fontedroid: 'iDroid';
}
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:var(--cor01) ;
    font-family: var(--fontpadrao);
}
a.external::after {
    content: '\00A0\1F517';
}
header {
   background-image: linear-gradient(to bottom, var(--cor03), var(--cor06));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;

}

header > h1 {
    color:white;
    font-family: var(--fontedestaque)
    ;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: normal;

}
header > p {
    color: white;
    font-size: 1.2em;
    text-align: center;
    
    
   
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
}
nav {
    background-color: #063d1e;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.404);
}
nav > a {
color: var(--cor01);
padding: 10px;
text-decoration: none;
font-weight: bold;
border-radius: 5px;
transition-duration: .5s;
}
nav > a:hover {
    background-color: var(--cor02);
    color: var(--cor06) ;
}
main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 0px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1 {
    color: var(--cor06);
    font-family: var(--fontedroid);
}
main h2 {
    font-family:var(--fontedroid);
    font-size: 1.3em;
    color: var(--cor06);

}
main img {
    width: 100%;}
main p {
    text-align: center;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 1em;
    
}
footer {
    background-color: var(--cor06);
    color: white;
    text-align: center;

    
}
img .pequena {
    max-width: 250px;
    display: block;
    margin: auto;
}
main strong {
    color: var(--cor05);
    font-weight: bold;
    padding: 2px 6px;
}
main a {
    background-color: var(--cor02);
    text-decoration: none;
    font-weight: bold;
    color: var(--cor06);
    padding: 2px 6px;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor05);

}
aside {
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.267);
}
aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
aside > h3 {
    background-color: var(--cor05);
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin: -10px -10px 0px -10px;
   

}
div.video {
    background-color: var(--cor06);
     margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 55%;
    position: relative;

}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    
}